


<div class="mb-16 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">

        <div class="flex flex-col items-start">
            <div class="relative w-full">
                <img src="@Instances.Urls.Image_ForOurStory_LoveAtFirstSight" alt="" class="w-full h-full object-cover object-[50%_25%] aspect-[16/9] lg:aspect-[3/2] rounded-2xl bg-gray-100">
            </div>
            <div class="max-w-xl">
                <div class="mt-8 flex items-center gap-x-4 text-xs">
                    <p class="relative z-10 py-1.5 font-medium text-gray-600">Riya</p>
                    <p class="text-gray-500">Bombay</p>
                </div>
                <div class="relative">
                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900">
                        <span class="absolute inset-0"></span>
                        Love at First Sight
                    </h3>
                    <p class="mt-5 text-sm leading-6 text-gray-600">
                        Vedant's Bollywood dream came true when he visited Riya for the first time in Bombay. Join us to know more!!!
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-start">
            <div class="relative w-full">
                <img src="@Instances.Urls.Image_ForOurStory_HePutARingOnIt" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
            </div>
            <div class="max-w-xl">
                <div class="mt-8 flex items-center gap-x-4 text-xs">
                    <p class="relative z-10 py-1.5 font-medium text-gray-600">Vedant</p>
                    <p class="text-gray-500">Calcutta</p>
                </div>
                <div class="relative">
                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900">
                        <span class="absolute inset-0"></span>
                        He put a ring on it!!
                    </h3>
                    <p class="mt-5 text-sm leading-6 text-gray-600">
                        After endless conversations, a few memorable trips, and a lot of convincing, she finally said YES!
                        Their families met for the first time in Calcutta, Vedant's hometown.
                        Much to Vedant's despair, there wasn't any usual Bollywood family drama and both families loved each other.
                        Things became official on 23rd June 2024!
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-start">
            <div class="relative w-full">
                <img src="@Instances.Urls.Image_ForOurStory_TheFuture" alt="" class="w-full h-full object-cover object-[50%_40%] aspect-[16/9] rounded-2xl bg-gray-100 sm:aspect-[2/1] lg:aspect-[3/2]">
            </div>
            <div class="max-w-xl">
                <div class="mt-8 flex items-center gap-x-4 text-xs">
                    <p class="relative z-10 py-1.5 font-medium text-gray-600">Together</p>
                    <p class="text-gray-500">Singapore</p>
                </div>
                <div class="relative">
                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900">
                        <span class="absolute inset-0"></span>
                        What the future holds
                    </h3>
                    <p class="mt-5 text-sm leading-6 text-gray-600">
                        Riya and Vedant will embark on their journey of togetherness and happiness in Singapore. Wish them a prosperous married life!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



@code{
    /// <summary>
    /// Documentation will not appear for this component in consumer Razor files unless there is some sort of documentation in the Razor markup.
    /// Documentation for the component is in the code-behind file.
    /// </summary>
    [Parameter]
    public string DummyDocumentationParameter { get; set; }
}
